[Unit]
Description=RTL-SDR radio receiver/decoder
After=network-online.target dev-rtlsdr.device
Requires=network-online.target dev-rtlsdr.device

[Service]
ExecStart=/usr/local/bin/rtl_433 -c /etc/rtl_433.conf
Restart=always
RestartSec=3
User=rtlsdr

